<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h3>ID: {{ drug_json.id }}</h3></br>
    <h3>Наименование: {{ drug_json.name }}</h3></br>
    <h3>Действующие вещества: {{ drug_json.active_ingredient }}</h3></br>
    <h3>От {{ drug_json.minimal_age }} лет</h3></br>
    <h3>Только по рецепту: {{ drug_json.recipe_only }}</h3></br>
    <h3>Форма отпуска: {{ drug_json.form_of_release }}</h3></br>
</head>
<body>
    
</body>
</html>