<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action={{ put_response }} method="post">
        {% csrf_token %}
        {% for line in form %}
        <h4>{{ line.label }}</h4></br>
        {{ line }}</br>
        {% endfor %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="submit" value="Submit">
    </form>
</body>
</html>